<div id="configure-post-adapter-source-confirm">
    <h4>
        <a id="post-adapter-source-confirm-save-and-activate-button" class="btn btn-info btn-small"><i class="icon-ok"></i> save and activate</a>
        This source is now ready to use
    </h4>
    <div class="ui-state-info">
        <p>
            <i class="icon-check"></i>Once activated, you can begin posing data to the following url:
        </p>
        <p>
            <strong>{{ full_adapter_url }}</strong>
        </p>
        <p>
            <i class="icon-download"></i> <em>Download instruction on using this source <strong><a href="{% url 'post_adapter_source_instructions' source.id %}" target="_blank">here</a></strong></em>
        </p>
    </div>
    <div class="clearfix">
        <img id="post-adapter-source-confirm-source-image" src="{{ source.channel.images.128 }}" title="{{ source.channel.display_name_full }}"  class="tipped"/>
        <div id="post-adapter-source-confirm-analysis-container" class="clearfix">
            {% if source.services %}
                <h5>With the following analysis services</h5>
                {% for service in source.services %}
                    <div class="post-adapter-source-confirm-analysis-service">
                        <img src="{{ service.images.48 }}" title="{{ service.display_name_full }}" class="tipped" />
                    </div>
                {% endfor %}
            {% else %}
                <div class="ui-state-info">
                    <p>
                        <i class="icon-star"></i> You have chosen not to add any additional analysis to this source
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <p class="display-name"><label>Name:</label>{{ source.display_name }}</p>
    {% for element in source.channel.config.elements %}
        {% if element.type == 'text' %}
            <p class="element-text"><label>{{ element.display_name }}</label>{{ element.value }}</p>
        {% endif %}
    {% endfor %}
    <a id="post-adapter-source-confirm-save-button" class="btn btn-small"><i class="icon-save"></i> save but don't activate</a>
    <a id="post-adapter-config-source-reconfigure-button" class="btn btn-small"><i class="icon-backward"></i> reconfigure</a>
</div>