<div id="modal-confirmation" class="modal-container">
    <div class="modal-header ui-state-default ui-corner-top">
        <h2>
            <span id="confirmation-title"></span>
        </h2>
    </div>
    <div class="modal-content">
        <div class="inner">
            <p id="confirmation-question-mark">?</p>
            <p id="confirmation-question"></p>
            <p id="confirmation-help-message"></p>
            <a id="confirmation-confirm-button" class="btn btn-info">Yes please</a>
            <a id="confirmation-cancel" class="btn">No thank you</a>
        </div>
    </div>
</div>