{% for record in run_records %}
    {% if record.status == "error" %}
        <div class="run-record ui-state-error">
            <i class="icon-warning-sign"></i>
    {% else %}
        <div class="run-record ui-state-default ui-corner-all">
            <i class="icon-check"></i>
    {% endif %}

        <span class="created">{{ record.created|date:"D, d b, fa" }}</span>
        <span class="collected">{{ record.statistics.total_items|default:'0' }} items collected</span>
    </div>
{% empty %}
    <div class="ui-state-info">
        <p>
            <i class="icon-star"></i> There are no records to show.
        </p>
    </div>
{% endfor %}